/* Global Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

/* Navigation Styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

nav label.title {
    font-size: 24px;
    color: #fff;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

img.logo {
    margin-left: 10px;
}

img.menu {
    display: none;
}

@media only screen and (max-width: 768px) {
    img.menu {
        display: block;
        cursor: pointer;
    }

    nav ul {
        flex-direction: column;
        display: none;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        z
